<header><span>Chirper</span></header>

<div class="menu">
    {{#if isAuth}}
        <a href="#/viewFeed">Home</a>
        <a href="#/viewDiscover">Discover</a>
        <a href="#/viewMe">Me</a>
        <a href="#/logout">Logout</a>
    {{else}}
        <a href="#/register">Register</a>
        <a href="#/login">Login</a>
    {{/if}}
</div>