<article class="post post-content">
    <p>{{content}}</p>
    <div class="info">
        submitted {{time}} ago by {{author}} |
        {{#if isAuthor}}
            <a href="#/deleteComment/{{_id}}" class="deleteLink">delete</a>
        {{/if}}
    </div>
</article>