<div class="userbox">
    <div><a href="#/viewProfile/{{username}}" class="chirp-author">{{username}}</a></div>
    <input type="hidden" name="userId" value="{{_id}}"/>

    <div class="user-details">
        <span>{{followerCount}} followers</span>
    </div>
</div>